
{% block navbar %}
<ul style="list-style: none; display: flex;">
	<a href="">
		<li style="margin: 0 20px;">Accueil</li>
	</a>
	<a href="">
		<li style="margin: 0 20px;" >Product</li>
	</a>
	<a href="">
		<li style="margin: 0 20px;">About</li>
	</a>
</ul>
{% endblock %}
