<ul style="list-style: none; display: flex;">
	<a href="index.php">
		<li style="margin: 0 20px;">Accueil</li>
	</a>
	<a href="products.php">
		<li style="margin: 0 20px;" >Product</li>
	</a>
	<a href="details.php">
		<li style="margin: 0 20px;">Details</li>
	</a>
</ul>

