{% extends "_layout.html.twig" %}

{% block title %} {{parent()}} - Accueil {% endblock %}

{% block content %}

<div style='text-align: center;'>
    <h1>Hello correcting Wilder !</h1>
    <h2>Welcome to my page made with Twig :)</h2>
</div>
{% endblock %}